{
  # The list of database configurations
  "databases": [
    # {
      # database type you want to connect to, we support mysql, postgresql
      # "db_type": "mysql",
      # Url to connect with the remote Database
      # "connection_url": "protocol(address)/dbname?charset=utf8",
      # "db_user": "username",
      # "db_pass": "password",
      # An array of hashes. Each hash tells what tables to watch and
      # what columns to annotate on events from those tables.
      # "tables": [
        #{
          # "table_name": "table1",
          # If the field is "*", will import entire row
          # "fields": ["col1", "col2"],
          # Increment value is from you want to start taking data from tables when start the 
          # sensor (0 will import entire table), default is 0
          # "incremental": 0,
          # Status file is used to save last readed row
          # "status_path": "/var/lib/df-sensors/status",
          # "custom_query": "select * from table1 where something",
          # Query delay, each configured milisecond the query will be sent, default is 10000
          # "query_delay" : 10000,
          # Max rows to import per query, default is 10000
          # "max_rows": 10000
        #}, {
          # "table_name": "table2",
          # If the field is "*", will import entire row
          # "fields": ["*"],
          # "incremental": 0,
          # "status_path": "/var/lib/df-sensors/status"
        #}
      #]
    # }
  ]
}